In [95]:
import numpy as np

#check the version
print(np.__version__)

1.24.3

In [96]:
#Create a 1-dimensional array
a1 = np.array([1, 2, 3])

#Create a 2-dimensional array
a2 = np.array([[1, 2, 3], [4, 5, 6]])

#Create a 3-dimensional array also referred to as a matrix
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]], 
                    [[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]]])

print(a1.ndim)
print(a2.ndim)
print(a3.ndim)
a3.shape
a3.dtype
a3.size

1
2
3

18

In [97]:
import pandas as pd

df = pd.DataFrame(np.random.randint(1000000,size=(5,3)),columns=['a', 'b', 'c'])
df

        a       b       c
0  257941  792793  574751
1  493749  241545   56422
2  687398  137755   72563
3  652160  681692  807824
4   46618  252697  506913

In [98]:
ones = np.ones((10,2))
ones

zero = np.zeros((10,2))


one_int = ones.astype(int)
one_int

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [99]:
arry1 = np.random.random((5, 20))

arry1

array([[0.82235681, 0.30255721, 0.02077114, 0.02143438, 0.03992886,
        0.0368303 , 0.93008511, 0.45538086, 0.15679932, 0.93783115,
        0.33372013, 0.28409642, 0.88543817, 0.55778133, 0.81080017,
        0.99149789, 0.80418735, 0.04434907, 0.94353796, 0.1277704 ],
       [0.72103272, 0.38691737, 0.05912633, 0.19140655, 0.25141085,
        0.04848674, 0.06799153, 0.3311165 , 0.25325002, 0.37826269,
        0.93093461, 0.76802027, 0.4898822 , 0.99638967, 0.476971  ,
        0.42102461, 0.78955443, 0.56278535, 0.37981183, 0.19160946],
       [0.23059955, 0.92468832, 0.17439967, 0.79142576, 0.83914346,
        0.0032003 , 0.36358236, 0.6831319 , 0.97378696, 0.15571029,
        0.79513293, 0.80625465, 0.73381123, 0.33473111, 0.06718256,
        0.41615553, 0.66651093, 0.20966836, 0.09129441, 0.06101933],
       [0.86954155, 0.15275052, 0.98346972, 0.96342257, 0.4948337 ,
        0.24615816, 0.35468544, 0.31006392, 0.17065161, 0.85771937,
        0.08551886, 0.74282909, 0.24403834, 0.97147001, 0.88897439,
        0.23757573, 0.21591384, 0.47030935, 0.70261659, 0.89103193],
       [0.28560585, 0.96122941, 0.39860455, 0.1080377 , 0.26610913,
        0.65034009, 0.90249947, 0.93662757, 0.90717438, 0.54313553,
        0.6445427 , 0.06825028, 0.64544177, 0.97631172, 0.96277006,
        0.08018115, 0.24406939, 0.76973034, 0.04361486, 0.12159168]])