In [100]:
import numpy as np

#check the version
print(np.__version__)

1.24.3

In [101]:
#Create a 1-dimensional array
a1 = np.array([1, 2, 3])

#Create a 2-dimensional array
a2 = np.array([[1, 2, 3], [4, 5, 6]])

#Create a 3-dimensional array also referred to as a matrix
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]], 
                    [[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]]])

print(a1.ndim)
print(a2.ndim)
print(a3.ndim)
a3.shape
a3.dtype
a3.size

1
2
3

18

In [102]:
import pandas as pd

df = pd.DataFrame(np.random.randint(1000000,size=(5,3)),columns=['a', 'b', 'c'])
df

        a       b       c
0  186523  750472  759463
1  156057  826593  357994
2  873617  904762  709125
3  717595  911488  604706
4  561547  398210  374406

In [103]:
ones = np.ones((10,2))
ones

zero = np.zeros((10,2))


one_int = ones.astype(int)
one_int

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [104]:
arry1 = np.random.random((5, 20))

array([[0.91332226, 0.34434291, 0.92671272, ..., 0.06042866, 0.06473967,
        0.9952494 ],
       [0.91623416, 0.43746053, 0.58680968, ..., 0.09797158, 0.98640933,
        0.05229933],
       [0.5614195 , 0.55055061, 0.21806192, ..., 0.56939343, 0.73224463,
        0.37358504],
       ...,
       [0.53544029, 0.65177868, 0.88265293, ..., 0.8083472 , 0.67416441,
        0.46689298],
       [0.82640843, 0.01483418, 0.74771362, ..., 0.32119783, 0.03369692,
        0.81409072],
       [0.71310201, 0.53339421, 0.86631978, ..., 0.82168669, 0.97977432,
        0.96856888]])